#login h1 a {
    background: url("../img/logo_login.png");
    width: 320px;
    height: 57px;
}
#loginform {
    padding-bottom: 26px;
}
#loginform label {
    color: #311127;
}
#loginform #wp-submit {
    background: transparent;
    border-color: #311127;
    color: #311127;
    text-shadow: none;
    box-shadow: 0 1px 0 #311127;
}
#login a {
    color: #311127 !important;
}
#login a:hover,
#login a:focus {
    color: #311127 !important;
    opacity: .8;
}